<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Tools for interacting with the data.world platform"
            icon="icons/default.png"
            level-id="dataWorld"
            name="data.world"
            path="/"/>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/dataWorld"
            factory-class="org.knime.data.world.restful.GetDatasetInfoNodeFactory"
            id="org.knime.data.world.restful.GetDatasetInfoNodeFactory"/>
      <node
            category-path="/dataWorld"
            factory-class="org.knime.data.world.restful.AddDatasetFileNodeFactory"
            id="org.knime.data.world.restful.AddDatasetFileNodeFactory"/>
   </extension>
   
</plugin>
